@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

html {
  height: 100%;
  min-height:800px;
}
body {
  background: url('images/Resound@2x.png');
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  font-family: 'Poppins', serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1{
    font-size: 36px;
  font-weight:500;
  padding-top:0;
  margin-top:0;
  line-height: 1.1;
  font-family: 'Poppins', serif;
  color: #fff;
}

span.h1-child {
    font-size: 19px;
    font-weight: 300;
    opacity: 0.8;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

section {
    display: flex;
    flex-flow: column;
    align-items: flex-start;  
    padding: 65px 30px;
    max-width: 51%;
    margin: 10px auto;
    background:white;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    border-radius:5px;
    transition:transform 0.9s ease-in-out;
}


input {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}

p{
  text-align:justify;
margin-top:0;
}
.quiz_h2 {
    color: #683191;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
}
.quiz_p {
    color: #332A86;
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0.5;
}
input[type="radio"] {
  transform: scale(.7);
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #683191;
  border-radius: 50%;
  left: 22px;
  cursor: pointer;
}
input[type="checkbox"] {
    transform: scale(.7);
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid #683191;
    left: 22px;
    cursor: pointer;
  }
input[type="radio"]:checked {
  content: "";
  width: 30px;
  height: 30px;
  background: #683191;
  position: absolute;
  left: 22px;
  box-sizing: border-box;
  border-radius: 50%;
}
input[type="checkbox"]:checked{
    content: "";
    width: 30px;
    height: 30px;
    background: #683191;
    position: absolute;
    left: 22px;
    box-sizing: border-box;
  }

/* input[type="radio"]:checked:after {
  width: 5px;
  height: 5px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: inherit;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
} */
.quiz_inner-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
label{
    color:#683191;
    font-size: 16px;
    margin-left: 25px;
}
#prev {
  position: absolute;
  left: 25%;
}
#next {
  position: absolute;
  right: 25%;
}
#submit{
    width: 7.5%;
    position: absolute;
    right: 25%;
}


@media (max-width: 767px) {
  section {
    max-width: 100%;
    text-align: left;
    padding: 0 30px;
    height: 420px;
}
label {
  font-size: 14px;
}
.quiz_h2 {
  font-size: 24px;
}
.disabled {
  display:none!important;
}
input[type="radio"] {
  transform: scale(.7);
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #683191;
  border-radius: 50%;
  left: 22px;
  cursor: pointer;
}
input[type="radio"]:checked {
  content: "";
  width: 30px;
  height: 30px;
  background: #683191;
  position: absolute;
  left: 22px;
  box-sizing: border-box;
  border-radius: 50%;
}
.button {
  background: #F3534A;
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
  -webkit-appearance:none;
  opacity: 1
}
#submit {
  width: 34.5%;
  position: absolute;
  right: 20px;
}
#prev {
  position: absolute;
  left: 20px;
}
#next {
  position: absolute;
  right: 20px;
}
}